<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <header class="header">
      <%- partial('_partial/header') %>
    </header>
    <div class="content">
      <%- body %>
    </div>
    <footer class="footer">
      <%- partial('_partial/footer') %>
    </footer>
  </body>
</html>
