<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <div class="content">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>
