<article class="article">
  <header class="article-header">
    <div class="article-meta">
      <div class="article-date">
        <%= full_date(post.date, 'll') %>
      </div>
      <div class="article-categories">
        <i class="fa fa-caret-right"></i>
        <% post.categories.each(function (category) { %>
          <a class="article-category" href="<%- url_for(category.path) %>">
            <%= category.name %>
          </a>
        <% }) %>
      </div>
    </div>
    <h2 class="article-title">
      <% if (index) { %>
        <a class="article-link" href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      <% } else { %>
        <%= post.title %>
      <% }%>
    </h2>
  </header>
  <div class="article-body markdown">
    <% if (index) { %>
      <%- post.excerpt %>
      <div class="readmore">
        <a href="<%- url_for(post.path) %>" class="readmore-link">
          <%- __('readmore') %>
        </a>
      </div>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <% if (!index) { %>
    <footer class="article-footer">
      <div class="article-tags">
        <% post.tags.each(function (tag) { %>
          <a class="article-tag" href="<%- url_for(tag.path) %>">
            <%= tag.name %>
          </a>
        <% }) %>
      </div>
    </footer>
  <% } %>
</article>
