<header class="header">
  <div class="site-brand">
    <div class="container">
      <h1 class="site-title">
        <a class="site-title-link" href="<%- url_for('.') %>">
          <%- config.title %>
        </a>
      </h1>
    </div>
  </div>
  <nav class="site-nav">
    <div class="container">
      <ul class="site-nav-menu">
        <% for (var name in theme.menu) { %>
          <% var href = url_for(theme.menu[name]) %>
          <% var current = url_for(path.replace('index.html', '')) %>
          <li class="site-nav-item">
            <a class="site-nav-link <% if (current == href) { %>active<% } %>" href="<%- href %>">
              <% var itemName = __('menu.' + name) %>
              <% if (itemName.startsWith('menu')) { %>
                <%= name %>
              <% } else { %>
                <%= __('menu.' + name) %>
              <% } %>
            </a>
          </li>
        <% } %>
      </ul>
      <div class="site-nav-icon">
        <a class="site-icon-link" href="<%= theme.rss %>">
          <i class="fa fa-rss"></i>
        </a>
        <% for (var item in theme.social) { %>
          <a class="site-icon-link" href="<%= theme.social[item] %>">
            <i class="fa fa-<%= item %>"></i>
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
